@import "./variables";
.titulo {
    font-family: $fuente;
    font-size: 2rem;
    color: $colorft;
}
.titulo2 {
    font-family:$fuente;
    font-size: 1rem;
    color:$colorft;
    display: flex;
    justify-content: center;
}
.buttons {
    font-family: $fuente;
    font-size: 1rem;
}
.letrastitulo {
    color:rgba(0, 0, 0, 0.39);
}
.letrastitulo:hover {
    color: black;
    transition: 1.5s;
}
.buttons1 {
    font-family: $fuente !important;
    font-size: 2rem !important;
    color: $colorft !important;
    border-color: $colorft !important;
    background-color: antiquewhite !important;
    border: 0px !important;
   
}
.buttons1:hover {
        transition: 1s !important;
        background-color: antiquewhite !important;
        box-shadow: $bshadow
}